.skills {
  margin-bottom: 50px;
}

.progress {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 10px;
}

.barWrap {
  position: relative;
  float: left;
  width: 100%;
}

.barWrap span {
  background-color: #ffff50;
  height: 2px;
  width: 0px;
  display: block;
  float: left;
  position: relative;
  overflow: visible !important;
}

.barWrap span:after {
  border: 2px solid #ffff50;
  border-radius: 50%;
  content: "";
  height: 15px;
  position: absolute;
  right: 0px;
  background: #141414;
  top: -6px;
  width: 15px;
}

.barWrap span strong {
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  display: block;
  float: left;
  position: absolute;
  right: 0px;
  top: -27px;
}

.barWrap span i {
  font-style: normal;
}

@media (min-width: 768px) {
  .skills {
    width: 41.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
  }

  .skills:nth-child(2n) {
    margin-left: 8.33333333%;
  }
}
