.timelineWrap:before,
.timelineWrap:after {
  display: table;
  content: "";
}

.timelineWrap:after {
  clear: both;
}

.timelineWrap:hover {
  opacity: 1 !important;
}

.timelineWrap:hover .linest:after {
  border: 3px solid #ffff50;
}

.timelineWrap {
  display: flex;
}

.timelineWrap.active {
  opacity: 1;
  transition: all 0.5s ease 0s;
}

.timelineWrap.active .linest:after {
  border: 3px solid #ffff50;
}

.timelineWrap.inactive {
  opacity: 0.4;
  transition: all 0.5s ease 0s;
}

.timelineWrap .linest {
  background: rgba(255, 255, 255, 0.15);
  margin-top: 15px;
  width: 1px;
}

.timelineWrap .linest:after {
  border: 3px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  content: "";
  height: 12px;
  width: 12px;
  left: 7px;
  position: absolute;
  top: 0;
  transition: all 0.4s ease 0s;
}

.col2 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.col10 {
  display: flex;
  opacity: 1;
  transition: all 0.4s ease 0s;
}

.colSm3 {
  width: 15%;
  padding-right: 15px;
  padding-left: 15px;
}

.colSm3 span {
  color: #fff;
  font-size: 0.7em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.colSm9 {
  width: 80%;
  padding-right: 10px;
  padding-left: 10px;
}

.desc {
  display: block;
  color: #ccc;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.loc,
.site {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  padding-right: 10px;
  padding-bottom: 15px;
}

.psmall {
  font-size: 0.9em;
  color: #ccc;
  line-height: 20px;
  margin-bottom: 40px;
}

@media (min-width: 769px) {
  .colSm3 span {
    font-size: 0.8em;
  }

  .psmall {
    line-height: 25px;
    font-size: 1.1em;
  }
}
