.left {
  float: left;
}
.left a {
  border-bottom: 1px solid #e91e63;
}
.left a {
  border-bottom: 1px solid #e91e63;
}
.right {
  float: right;
  text-align: right;
}
@-webkit-keyframes blinking {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blinking {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.availablePoint {
  background: #e91e63 none repeat scroll 0 0;
  position: relative;
  display: inline-block;
  float: left;
  width: 14px;
  height: 14px;
  margin-left: 8px;
  margin-right: 32px;
  margin-top: 7px;
  border-radius: 50%;
  float: left;
  -webkit-animation-name: blinking;
  animation-name: blinking;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  content: ' ';
}
.availablePoint:before {
  background-color: #e91e63;
  content: ' ';
  position: absolute;
  top: -8px;
  left: -8px;
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 0.2;
  border-radius: 50%;
}
.availableTag {
  line-height: 30px;
  font-weight: 500;
  color: #fff;
  display: block;
  float: left;
}
