.blockRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .7rem;
}

.iconStyle {
  transition: all 0.7s ease 0s;
  width: 100px;
  height: 100px;
}

.lab {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 36px;
}

@media (min-width: 992px) {
  .blockRow {
    grid-template-columns: repeat(4, 1fr);
  }

  .iconStyle {
    width: 150px;
    height: 150px;
  }

  .lab {
    font-size: 1.2em;
  }
}
