.blockRow {
  display: flex;
  flex-wrap: wrap;
}

.blockDiv {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 50%;
  padding: 0.75rem;
}

.iconStyle {
  transition: all 0.4s ease 0s;
  width: 100px;
  height: 100px;
}

.lab {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 36px;
}

@media (min-width: 992px) {
  .iconStyle {
    width: 150px;
    height: 150px;
  }

  .lab {
    font-size: 1.2em;
  }
}
