.imgDiv {
  display: none;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
  background: #141414;
  background: -webkit-linear-gradient(to right, #141414, #313131);
  background: linear-gradient(to right, #141414, #313131);
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
}

.col3 {
  display: none;
}

hr {
  border-top: 1px dashed #eee;
  opacity: 0.5;
  margin-bottom: 0;
}

.content {
  background: #141414;
  margin-top: 0;
  border-radius: 0;
  transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  padding: 90px 20px 60px;
}

.main a {
  color: #ffff50;
  opacity: 0.75;
  border-bottom: 1px solid #ffff50;
  transition: all 0.3s ease 0s;
}

.main a:hover {
  opacity: 1;
}

h1 {
  height: 44px;
  font-size: 2.1em;
}

h3 {
  color: #fff;
}

h4 {
  color: rgba(255, 255, 80, 0.8);
  text-transform: uppercase;
}

blockquote {
  border-left-color: #ffff50;
  border-left-width: 1px;
  border-left-style: solid;
}

p {
  font-size: 1.05em;
  font-weight: 400;
}

@media (min-width: 950px) {
  .imgDiv {
    display: flex;
  }

  .row {
    grid-template-columns: 1fr 3fr;
  }

  .col3 {
    display: flex;
    position: relative;
  }

  .col9 {
    position: relative;
  }

  .content {
    background: rgba(20, 20, 20, 0.8);
    margin-top: 120px;
    border-top-left-radius: 10px;
  }

  .main {
    width: 85%;
  }

  .main h1 {
    font-size: 2.5em;
  }
}
