.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  grid-gap: 20px;
}

.skill {
  margin-bottom: 30px;
}

.progress {
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5px;
  display: flex;
  padding-bottom: 10px;
}

.barWrap {
  position: relative;
}

.barWrap span {
  background-color: #ffff50;
  height: 2px;
  display: flex;
  float: left;
  position: relative;
  overflow: visible !important;
}

.barWrap span:after {
  border: 2px solid #ffff50;
  border-radius: 50%;
  content: "";
  height: 12px;
  width: 12px;
  position: absolute;
  right: 0px;
  background: #141414;
  top: -7px;
}

.barWrap span strong {
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: -27px;
}

@media(min-width:  768px) {
  .skills {
    grid-gap: 30px;
  }

  .progress {
    font-size: 1em;
  }
}

